@import '../../styles/variables';

.tableWrapper{
  border: 1px solid $gray-100;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  .tableHeader{
    padding: 1rem 1.5rem;
    background-color: $white-50;
    @extend %flex-between;
    .headerCell{
      color: $gray-400;
      font-weight: 600;
      width: 15%;
      &:first-of-type{
        width: 20%;
      }
      &:last-of-type{
        width: 40%;
      }
    }
  }
  .tableRow{
    padding: 1rem 1.5rem;
    @extend %flex-between;
    border-top: 1px solid $gray-100;
    .rowCell{
      width: 15%;
      &:first-of-type{
        width: 20%;
      }
      &:last-of-type{
        width: 40%;
      }
    }
  }

}