@font-face {
  font-family: 'Cairo';
  src: url("./cairo/Cairo-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: 'Cairo';
  src: url("./cairo/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Cairo";
  src: url("./cairo/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cairo";
  src: url("./cairo/Cairo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("./cairo/Cairo-Bold.ttf");
  font-weight: 700;
}