@import '../../styles/variables';

.container {
	border: 1px solid $gray-100;
	border-radius: 1rem;
	margin-top: 3rem;
	margin-bottom: 2rem;

	.dataList {
		@extend %flex-between;
		padding: 1.25rem;
		border-bottom: 1px solid $gray-100;
		margin-bottom: 1rem;
		.label {
			color: $gray-400;
			font-size: 0.825rem;
			font-weight: 500;
		}
		.data {
			font-weight: 700;
		}
		@media (max-width: 768px) {
			flex-wrap: wrap;
			align-items: flex-start;
			row-gap: 1rem;
			.dataItem {
				width: 48%;
			}
		}
	}

	.steps {
		@extend %flex-center-all;
		width: 100%;
		padding: 1.5rem;
    padding-bottom: 2.5rem;
    @media (max-width: 768px) {
      flex-direction: column;
      margin-inline-start: 1.5rem;
    }
	}
}
