@import '../../styles/variables';

.wrapper {
	@extend %flex-center-all;
	gap: 1em;

	border: 1px solid $gray-100;
	border-radius: 0.5rem;
	padding: 1rem;
	img {
		width: 7rem;
		height: 7rem;
	}
	p {
		font-weight: 700;
    font-size: 0.825rem;
	}
}
